.dark-background {
    background: #615552;
    color: #f1f0ea;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.dark-background h2 {
    color: #f1f0ea;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

header {
    background: left / cover no-repeat url("img/hero.jpg");
}

header h1, 
header p {
    color: #615552;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

header .row {
    height: 100vh;
}

#mainNavbar .navbar-brand {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#mainNavbar {
    background-color: #615552;
}

#mainNavbar .nav-link {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#mainNavbar form button {
    color: brown;
}

#mainNavbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(6,23,6, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border-color: #000000;
}

#mainNavbar .navbar-toggler {
    border-color: #000000;
}

h2 {
    margin: 20px 0;
    color: #615552;
}

h3 {
    color: #615552;
}

.gameboy-image:hover {
    opacity: 0.75;
} 

.order-form button {
    color: brown;
}

.icon {
    font-size: 2rem;
    color: #e26d5c;
}

@media (max-width: 575.98px) {
    header {
        background: contain
    }
}
